@using Insyma.SurveyManagement.DAL;
@using Insyma.SurveyManagement.DAL.Repositories;
@using Insyma.SurveyManagement.UI.DTO;
@using Newtonsoft.Json;

@model Insyma.SurveyManagement.DAL.udsp_SURVEY_QuestionOnline_Result

@{
    int surveyResultSummaryId = ViewBag.SurveyResultSummaryId ?? 0;

    List<udsp_SURVEY_DependencyAndGroup_Result> dependencies = SurveyOnlineRepository.LoadQuestionDependencies(Model.Id);

    DependencyItem rootGroup = DependencyItem.ConvertDependencies(dependencies, null, false).SingleOrDefault();
}

<div class="questioncon" questionid="@Model.OriginalQuestionId" data-questionid="@Model.Id" data-dependencies='@Html.Raw(JsonConvert.SerializeObject(rootGroup))'>
    <div style="display: block;" class="question" questiontype="2">
        <span>@Model.QuestionName</span>
    </div>
    <div style="display: block;" class="answer">
        <p class="describe">@Model.Comment</p>
        <ul class="vertical_list">
            @{
                List<udsp_SURVEY_AnswerOnline_Result> answers = SurveyOnlineRepository.GetAnswersOnlineByQuestionOnline(Model.Id, (int)ViewBag.languageId);

                foreach (udsp_SURVEY_AnswerOnline_Result answer in answers)
                {
                    @*<li answerid="@answer.Id">
                    <dl>
                        <dt>
                            <div class="radio">
                                <span>
                                    <input name="question_@Model.Id" type="radio" /></span>
                            </div>
                        </dt>
                        <dd>@answer.AnswerName</dd>
                    </dl>
                </li>*@
                    string radioChecked = (SurveyResultRepository.IsOptionSelected(surveyResultSummaryId,Model.Id,answer.Id) ? "checked" : string.Empty);
                    if (answer.AnswerTypeId == (int)Insyma.SurveyManagement.DAL.udsp_SURVEY_Answer_Result.AnswerTypes.Radio)
                    {
                        <li answerid="@answer.Id">
                            <dl>
                                <dt>
                                    <div class="radio">
                                        <span class="@radioChecked">
                                            <input name="question_@Model.Id" type="radio" @radioChecked />
                                        </span>
                                    </div>
                                </dt>
                                <dd>@answer.AnswerName</dd>
                            </dl>
                        </li>
                    }
                    if (answer.AnswerTypeId == (int)Insyma.SurveyManagement.DAL.udsp_SURVEY_Answer_Result.AnswerTypes.RadioEndSurvey)
                    {

                        <li answerid="@answer.Id">
                            <dl>
                                <dt>
                                    <div class="radio">
                                        <span class="@radioChecked">
                                            <input name="question_@Model.Id" type="radio" data-end-survey="1" @radioChecked />
                                        </span>
                                    </div>
                                </dt>
                                <dd>@answer.AnswerName</dd>
                            </dl>
                        </li>
                    }
                    if (answer.AnswerTypeId == (int)Insyma.SurveyManagement.DAL.udsp_SURVEY_Answer_Result.AnswerTypes.RadioWithTextbox)
                    {
                        <li class="AndereRadio">
                            <dl>
                                <dt>
                                    <div class="radio">
                                        <span class="@radioChecked">
                                            <input class="otherRadio" name="question_@Model.Id" type="radio" @radioChecked />
                                        </span>
                                    </div>
                                </dt>
                                <dd>
                                    <label for="@answer.AnswerName">@answer.AnswerName</label>
                                </dd>
                            </dl>
                        </li>
                        <li answerid="@answer.Id" class="AndereRadioText">
                            <input type="text" class="otherRadioText" disabled="disabled" value="@SurveyResultRepository.GetAnswerText(surveyResultSummaryId,Model.Id,answer.Id)"/>
                        </li>
                    }

                    if (answer.AnswerTypeId == (int)Insyma.SurveyManagement.DAL.udsp_SURVEY_Answer_Result.AnswerTypes.TextboxWithCaption)
                    {
                        <li class="AndereRadio">
                            <dl>
                                <dd>
                                    <label for="@answer.AnswerName">@answer.AnswerName</label>
                                </dd>
                            </dl>
                        </li>
                        <li answerid="@answer.Id" class="AndereRadioText">
                            <input type="text" class="otherRadioText2" value="@SurveyResultRepository.GetAnswerText(surveyResultSummaryId,Model.Id,answer.Id)" />
                        </li>
                    }

                    if (answer.AnswerTypeId == (int)Insyma.SurveyManagement.DAL.udsp_SURVEY_Answer_Result.AnswerTypes.Text)
                    {

                        <li answerid="@answer.Id" class="AndereRadioText">
                            <input type="text" class="otherRadioText" disabled="disabled" value="@SurveyResultRepository.GetAnswerText(surveyResultSummaryId,Model.Id,answer.Id)" />
                        </li>
                    }
                }
            }
        </ul>
    </div>
</div>
